{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h2 class="m-5">Log In</h2>
<form method="post">
  {% csrf_token %}
  <div>
    {{ form.username.label_tag }}  <!-- Label for username -->
    {{ form.username }}              <!-- Username field -->
    {{ form.username.errors }}       <!-- Display any errors for username -->
    <br>                             <!-- Add a line break -->
  </div>
  <div>
    {{ form.password.label_tag }}  <!-- Label for password -->
    {{ form.password }}             <!-- Password field -->
    {{ form.password.errors }}      <!-- Display any errors for password -->
    <br>
  </div>
  <button class="login-button m-5 ps-4 pe-4"type="submit">Log In</button>
</form>
{% endblock %}